<section class="contact">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Prêt à sublimer vos espaces extérieurs ?</h1>
    <p class="lead">
      Réaliser dès maintenant un devis gratuitement !
    </p>
    <a href="./contact.php"><button class="btn bg-green w-25 py-2 mt-3 mb-3" >Obtenir un devis</button></a>
  </div>
</section>
<section class="container-fluid bg-yellow">
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 mb-0">GRAD &copy; 2023 Tous droits réservés</p>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="./"><i class="fa-brands fa-linkedin" width="24px" height="24px"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="./"><i class="fa-brands fa-square-facebook" width="24px" height="24px"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="./"><i class="fa-brands fa-square-twitter" width="24px" height="24px"></i></a></li>
        </ul>
      </footer>
    </div>
  </section>